{
    "overrides": [
        {
            "files": "*",
            "options": {
                "singleQuote": true,
                "bracketSpacing": false,
                "printWidth": 150,
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}
